
<!-- /CONTACT SECTION -->
<section>
    
    <section class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="social-links">
                        <a href="" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="" target="_blank"><span class="ti-tumblr-alt"></span></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p class="copy-rights">{{"footer.Copyright @ 2019"|translate}} <a style="color: rgb(93,125,234);" href="https://www.facebook.com/profile.php?id=100005904617786">{{"footer.Eslam Dahshan"|translate}} </a>{{"footer.all right resurved"|translate}}</p>
                </div>
            </div>
        </div>
    </section>
</section>