<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                      <h2>{{"Home.Features" | translate}}</h2>
                      <p>{{"Home.p13" | translate}} <br> {{"Home.p14" | translate}}</p>
                    </div>
                </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a [routerLink]="['/home']">{{"Home.Home" | translate}}</a></li>
              <li class="active">-   {{"Home.Bufet Features" | translate}}</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>
<section id="features" class="advance-feature-area homepage-6">
  <div class="container">
    <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-cup"></span>
              <h2>{{"Home.High Resolution" | translate}}</h2>
               <p>{{"Home.p7" | translate}}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-vector"></span>
              <h2>{{"Home.Creative Design" | translate}}</h2>
              <p>{{"Home.p7" | translate}}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-eye"></span>
              <h2>{{"Home.Pixel Perfect" | translate}}</h2>
                                    <p>{{"Home.p7" | translate}}</p>
                                  </div>
          </div>
        </div>
        <div class="row mt-50px">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-magnet"></span>
              <h2>{{"Home.Ratina Ready" | translate}}</h2>
                                    <p>{{"Home.p7" | translate}}</p>
                                  </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-shortcode"></span>
              <h2>{{"Home.Clean Code" | translate}}</h2>
              <p>{{"Home.p15" | translate}}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-video-camera"></span>
              <h2>{{"Home.Easily communication" | translate}}</h2>
                                    <p>{{"Home.p16" | translate}}</p>
                                  </div>
          </div>
    </div>
  </div>
</section>
<section class="work-area homepage-6">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="work-left">
        <h2>{{"Home.Why Bufet is" | translate}} <br> {{"Home.Best for your Business?" | translate}}</h2>
        <p>{{"Home.p2" | translate}}</p>
        <p class="other">{{"Home.p2" | translate}}</p>
        <a  [routerLink]="['/about']" class="about-btn">{{"Home.read more" | translate}}</a>
    </div>
</div>
<div class="col-md-5 col-md-offset-1 col-sm-6 ">
    <div class="work-right">
        <div class="single-work">
            <img src="assets/img/feature/work-1.png" alt="place your img">
            <h2>{{"Home.Login First" | translate}}</h2>
            <p>{{"Home.p2" | translate}}</p>                        </div>
        <div class="single-work">
            <img src="assets/img/feature/work-2.png" alt="place your img">
            <h2>{{"Home.Data Analysis" | translate}}</h2>
            <p>{{"Home.p2" | translate}}</p>                        </div>
        <div class="single-work">
            <img src="assets/img/feature/work-3.png" alt="place your img">
            <h2>{{"Home.Show Result" | translate}}</h2>
            <p>{{"Home.p2" | translate}}</p>
        </div>
    </div>
</div>
</div>
</div>
</section>
<!--TEAM AREA-->

<!--TESTIMONIAL-AREA -->

<section class="testimonial-area">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
  <div class="section-heading text-center">
              <h2>{{"Home.Some of our Reviews" | translate}}</h2>
                  <img src="assets/img/section/section-icon.png" alt="place your img">
                  <p>{{"Home.p2" | translate}}</p>
          </div>
      </div>
    </div>
        <div class="testi-review">
          <div class="row">
              <div class="col-md-6">
                  <div class="testi-single-item ">
                      <div class="item-inner">
                    <div class="testimonial-meta">
                          <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                      <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                    </div>
                      <p>“{{"Home.p2" | translate}}”</p>
            <div class="testimonial-rating">
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                          </div>
      
                  </div>
                  </div>
                  </div>
            <div class="col-md-6">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
              </div>
                <p>“{{"Home.p2" | translate}}”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            </div>
        <div class="row">
        <div class="col-md-6">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
              </div>
                <p>“{{"Home.p2" | translate}}”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="testi-single-item ">
                  <div class="item-inner">
                <div class="testimonial-meta">
                      <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                  <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                </div>
                  <p>“{{"Home.p2" | translate}}”</p>
        <div class="testimonial-rating">
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                      </div>
  
              </div>
              </div>
              </div>
              </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="testi-single-item ">
                      <div class="item-inner">
                    <div class="testimonial-meta">
                          <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                      <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                    </div>
                      <p>“{{"Home.p2" | translate}}”</p>
            <div class="testimonial-rating">
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                          </div>
      
                  </div>
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="testi-single-item ">
                          <div class="item-inner">
                        <div class="testimonial-meta">
                              <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                          <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                        </div>
                          <p>“{{"Home.p2" | translate}}”</p>
                <div class="testimonial-rating">
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                              </div>
          
                      </div>
                      </div>
                      </div>
                      </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="testi-single-item ">
                      <div class="item-inner">
                    <div class="testimonial-meta">
                          <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                      <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                    </div>
                      <p>“{{"Home.p2" | translate}}”</p>
            <div class="testimonial-rating">
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                          </div>
      
                  </div>
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="testi-single-item ">
                          <div class="item-inner">
                        <div class="testimonial-meta">
                              <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                          <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                        </div>
                          <p>“{{"Home.p2" | translate}}”</p>
                <div class="testimonial-rating">
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                              </div>
          
                      </div>
                      </div>
                      </div>
                      </div>
        <div class="faq-button">
        <a class="pricing-btn blue-btn about-btn" href="#">{{"Home.LOAD MORE" | translate}}</a>
        </div>
        </div>
        
  </div>
</section>
<!--TESTIMONIAL-AREA  END-->


<!--DOWNLOAD-AREA-->
<section class="download-area">
  <div id="background-19" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-20" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-21" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-22" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-23" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-24" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-25" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-26" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-27" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-28" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-29" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-30" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-31" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-32" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-33" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-34" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-35" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-36" class="mouse-bg hidden-xs hidden-sm"></div>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="download-table">
              <div class="download-table-cell">
                  <h2>{{"Home.Bufet is Awesome !" | translate}} <br>{{"Home.It’s" | translate}} <span> {{"Home.Free" | translate}} </span> {{"Home.to Download for Everyone" | translate}}</h2>

                  <div class="button-group store-buttons">
                      <a href="#" class="btn-style-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                          <span class="ti-android"></span>
                          <p class="dsp-tc">{{"Home.available on" | translate}}
                              <br> <span>{{"Home.Google Store" | translate}}</span></p>
                      </a>
                      <a href="#" class=" btn-style-2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
                          <span class="ti-apple"></span>
                          <p class="dsp-tc">{{"Home.available on" | translate}}
                              <br> <span>{{"Home.Apple Store" | translate}}</span></p>
                      </a>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
</section>

 <!--DOWNLOAD-AREA  END-->

 <!-- subscription area start -->
 <section id="subscribe-area">
  <div class="container">
      <div class="subscribe-wrapper">
          <div class="row">
              <div class="col-sm-4 col-xs-12">
                  <div id="Contact" class="subscribe-text">
                      <h2>{{"Home.SubscribE Now" | translate}}</h2>
                  </div>
              </div>
              <div class="col-sm-8 col-xs-12">
                  <div class="subscribe-box">
                      <form action="http://hackinout.us15.list-manage.com/subscribe/post-json?u=e44c1f194bec93e238615469e&amp;id=fa63cb4ac7&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
                          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email Address" required>
                          <div aria-hidden="true">
                              <input type="text" name="b_e44c1f194bec93e238615469e_f6f826e769" tabindex="-1" value="">
                          </div>
                          <input type="submit" value="GO" name="subscribe" id="mc-embedded-subscribe" class="mc-button">
                          <div id="subscribe-result">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

  <!-- CONTACT SECTION -->
  <section class="footer-bg">
    <div id="contact-section" class="gray-bg">
        <div class="container">
            <div class="contact-wrapper">
                <div class="row">
                        <div class="col-sm-5">
                            <div class="contact-form-area">
                                <h2 class="text-capitalize">{{"Home.Contact us" | translate}}</h2>
                                <form id="digita-contact-form" action="php/contact-mail.php" method="POST">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                                    <p class="contact-send-message"></p>
                                </form>
                            </div>
                        </div>
                    <div class="col-sm-7">
                        <div class="google-map">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>