<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                        <h2>Features</h2>
                        <p>Now we are fast growing mobile app and Business as a Service (saas) <br> service provider of the world. Check out little bit about us.</p>
                    </div>
                </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a href="index.html">Home</a></li>
              <li class="active">-   Bufet Features</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>
<section id="features" class="advance-feature-area homepage-6">
  <div class="container">
    <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-cup"></span>
              <h2>High Resolution</h2>
              <p>Our app Bufet is completely design for all kind of desktop screen sand mobile screns it can easily fit with all of your screens.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-vector"></span>
              <h2>Creative Design</h2>
              <p>Bufet is completely follow latest design trend with best user interection and user experience that makes so simple creative</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-eye"></span>
              <h2>Pixel Perfect</h2>
              <p>Every section, text, icon, typography is designed so carefully to make sure spacing alignment and pixel perfect.</p>
            </div>
          </div>
        </div>
        <div class="row mt-50px">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-magnet"></span>
              <h2>Ratina Ready</h2>
              <p>Every section, text, icon, typography is designed so carefully to make sure spacing alignment and pixel perfect.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-shortcode"></span>
              <h2>Clean Code</h2>
              <p>Our app Bufet is completely design for all kind of desktop screen sand mobile screns it can easily fit with all of your screens.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-advance">
              <span class="ti-video-camera"></span>
              <h2>Easily communication</h2>
              <p>Bufet is completely follow latest design trend with best user interection and user experience that makes so simple creative</p>
            </div>
          </div>
    </div>
  </div>
</section>
<section class="work-area homepage-6">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="work-left">
        <h2>Why  Bufet is <br> Best for your Business?</h2>
        <p>Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound. mistaken you a complete account.</p>
        <p class="other">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
        <a href="#" class="about-btn homepage-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".20s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">read more</a>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1 col-sm-6 ">
      <div class="work-right">
        <div class="single-work">
          <img src="assets/img/feature/work-1.png" alt="place your img">
          <h2>Login First</h2>
          <p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, eased do eiusmod temporara incididunt ugt labore.</p>
        </div>
        <div class="single-work">
          <img src="assets/img/feature/work-2.png" alt="place your img">
          <h2>Data Analysis</h2>
          <p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, eased do eiusmod temporara incididunt ugt labore.</p>
        </div>
        <div class="single-work">
          <img src="assets/img/feature/work-3.png" alt="place your img">
          <h2>Show Result</h2>
          <p>Lorem ipsum dolor sit amet, consectet adop adipisicing elit, eased do eiusmod temporara incididunt ugt labore.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--TEAM AREA-->

<!--TESTIMONIAL-AREA -->

<section class="testimonial-area homepage-6">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
<div class="section-heading text-center">
    <h2>Testimonials</h2>
    <img src="assets/img/section/section-icon.png" alt="place your img">
    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
</div>
      </div>
    </div>
        <div class="testi-carousel">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
        </div>

        <div class="slider-btns">
            <button class="testi-nav-left"><span class="ti-angle-left"></span></button>
            <button class="testi-nav-right"><span class="ti-angle-right"></span></button>
        </div>
  </div>
</section>

<!--TESTIMONIAL-AREA  END-->


<!--DOWNLOAD-AREA-->
<section class="download-area homepage-8">
    <div id="background-19" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-20" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-21" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-22" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-23" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-24" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-25" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-26" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-27" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-28" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-29" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-30" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-31" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-32" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-33" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-34" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-35" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-36" class="mouse-bg hidden-xs hidden-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="download-table">
          <div class="download-table-cell">
            <h2>Bufet is Awesome ! <br>It’s <span> Free </span> to Download for Everyone</h2>

            <div class="button-group store-buttons">
                          <a href="#" class="btn-style-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                              <span class="ti-android"></span>
                              <p class="dsp-tc">available on
                                  <br> <span>Google Store</span></p>
                          </a>
                          <a href="#" class=" btn-style-2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
                              <span class="ti-apple"></span>
                              <p class="dsp-tc">available on
                                  <br> <span>Apple Store</span></p>
                          </a>
                      </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <!--DOWNLOAD-AREA  END-->

 <!-- subscription area start -->
<section id="subscribe-area">
    <div class="container">
        <div class="subscribe-wrapper homepage-6">
            <div class="row">
                <div class="col-sm-4">
                    <div class="subscribe-text">
                        <h2>SubscribE Now</h2>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="subscribe-box">
                        <form class="subscription-form" method="POST" action="php/subscribe.php">
                            <input type="email" class="form-control" id="subscribe-input" name="subscribe-input" placeholder="Enter Your Email Address">
                            <button class="email-submit-btn" type="submit">go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- CONTACT SECTION -->
<section class="footer-bg homepage-6">
<div id="contact-section" class="gray-bg">
    <div class="container">
        <div class="contact-wrapper">
        <div class="row">
                <div class="col-sm-5">
                    <div class="contact-form-area">
                        <h2 class="text-capitalize">Contact us</h2>
                        <form id="digita-contact-form" action="php/contact-mail.php" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                            </div>
                            <div class="form-group">
                                <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                            </div>
                            <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                            <p class="contact-send-message"></p>
                        </form>
                    </div>
                </div>
            <div class="col-sm-7">
                <div class="google-map">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>