<section class="blog-full-page-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-page-content-table">
          <div class="blog-table-cell">
            <h2>About Bufet</h2>
            <p>Now we are fast growing mobile app and Business as a Service (saas) <br> service provider of the world. Check out little bit about us.</p>
          </div>
        </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a [routerLink]="['/home']">Home</a></li>
              <li class="active">-  About Bufet</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
      </div>
    </div>
  </div>
</section>
<section class="feature-area">
<div class="container">
<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="single-feature">
      <span class="counter-number">01</span>
      <div class="feature-img">
        <span class="ti-vector"></span>
      </div>
      <a href="#"><h2>Forcast Sales</h2></a>
      <p>Adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amt, consectet incididunt ipsum lorem</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="single-feature">
      <span class="counter-number">02</span>
      <div class="feature-img">
        <span class="ti-panel"></span>
      </div>
      <a href="#"><h2>Retargetion Customer</h2></a>
      <p>Adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amt, consectet incididunt ipsum lorem</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="single-feature">
      <span class="counter-number">03</span>
      <div class="feature-img">
        <span class="ti-desktop"></span>
      </div>
      <a href="#"><h2>High Performance</h2></a>
      <p>Adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amt, consectet incididunt ipsum lorem</p>
    </div>
  </div>
</div>
</div>
</section>
<section id="about"  class="about-area">
<div class="container">
<div class="row">
  <div class="col-md-6 col-sm-6 ">
    <div class="about-left">
      <img src="assets/img/screen/mobile-2.png" alt="place your img" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="about-right">
      <h2>Why  Bufet ?</h2>
      <p>Mistaken idea of denouncing pleasure and praising  was born and I will give you a complete account of the system, and expound. mistaken you a complete account.</p>
      <p class="another">Mistaken idea of denouncing pleasure and praising  was born and I will give you a complete account of the system.</p>
      <div class="about-list">
        <ul>
          <li>Mistaken idea of denouncing pleasure and praising pain.</li>
          <li>Mistaken idea of denouncing pleasure and praising pain idea of
          idea of denouncing pleasure and praising</li>
          <li>Mistaken idea of denouncing pleasure and praising pain.</li>
        </ul>
      </div>
      <a href="#" class="about-btn">read more</a>
    </div>
  </div>
</div>
</div>

<!--FUN FACT AREA AREA-->
<!-- 
<section class="fan-fact-area fan-fact-area-bg">
      <div class="container">
      <div class="single-items">
      <div class="single-items-cell">
        <h2><span class="counter">1350</span>+</h2>
        <h4>App Download</h4>
      </div>
      </div>
      <div class="single-items">
      <div class="single-items-cell">
        <h2><span class="counter">950</span>+</h2>
          <h4>Happy Clients</h4>
      </div>
      </div>
      <div class="single-items">
      <div class="single-items-cell">
        <h2><span class="counter">1080</span>+</h2>
        <h4>Active Accounts</h4>
      </div>
      </div>
      <div class="single-items">
      <div class="single-items-cell">
        <h2><span class="counter">1020</span>+</h2>
        <h4>Positive Rating</h4>
      </div>
      </div>
      </div>
</section>
 -->
<!--FUN FACT AREA AREA END-->

<!--TEAM AREA-->

<section class="team-area">
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="section-heading text-center">
              <h2>Team Member</h2>
              <img src="assets/img/section/section-icon.png" alt="place your img">
              <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incidit labore Lorem ipsum amet madolor sit amet.</p>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member.jpg" alt="team member">
            <div class="team-meta">
                <h4>Nathan Silva</h4>
                <p>CEO at Bufet</p>
            </div>
            <div class="team-overlay">
                <h5>Anna Watson</h5>
                <p class="meta-p">Founder</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-2.jpg" alt="team member">
            <div class="team-meta">
                <h4>Mrs. Lisa Silva</h4>
                <p>Content Writer</p>
            </div>
            <div class="team-overlay">
                <h5>M S Newaz</h5>
                <p class="meta-p">Strategic Planner</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-3.jpg" alt="team member">
            <div class="team-meta">
                <h4>Richard Burke</h4>
                <p>Creative Director</p>
            </div>
            <div class="team-overlay">
                <h5>Cristian Elora</h5>
                <p class="meta-p">Art Director</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-4.jpg" alt="team member">
            <div class="team-meta">
                <h4>Susan Riley</h4>
                <p>ui Designer</p>
            </div>
            <div class="team-overlay">
                <h5>Ohidul Islam</h5>
                <p class="meta-p">Web Developer</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</section>
<!--TEAM AREA  END-->
<!--TESTIMONIAL-AREA -->
<!-- 
<section class="testimonial-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
<div class="section-heading text-center">
    <h2>Testimonials</h2>
    <img src="assets/img/section/section-icon.png" alt="place your img">
    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
</div>
      </div>
    </div>
        <div class="testi-carousel">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
        </div>

        <div class="slider-btns">
            <button class="testi-nav-left"><span class="ti-angle-left"></span></button>
            <button class="testi-nav-right"><span class="ti-angle-right"></span></button>
        </div>
  </div>
</section>
-->
<!--TESTIMONIAL-AREA  END-->


<!--DOWNLOAD-AREA-->
<section class="download-area">
    <div id="background-19" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-20" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-21" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-22" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-23" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-24" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-25" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-26" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-27" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-28" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-29" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-30" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-31" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-32" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-33" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-34" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-35" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-36" class="mouse-bg hidden-xs hidden-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="download-table">
          <div class="download-table-cell">
            <h2>Bufet is Awesome ! <br>It’s <span> Free </span> to Download for Everyone</h2>

            <div class="button-group store-buttons">
                          <a href="#" class="btn-style-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                              <span class="ti-android"></span>
                              <p class="dsp-tc">available on
                                  <br> <span>Google Store</span></p>
                          </a>
                          <a href="#" class=" btn-style-2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
                              <span class="ti-apple"></span>
                              <p class="dsp-tc">available on
                                  <br> <span>Apple Store</span></p>
                          </a>
                      </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <!--DOWNLOAD-AREA  END-->

 <!-- subscription area start -->
<section id="subscribe-area">
    <div class="container">
        <div class="subscribe-wrapper">
            <div class="row">
                <div class="col-sm-4">
                    <div class="subscribe-text">
                        <h2>SubscribE Now</h2>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="subscribe-box">
                        <form class="subscription-form" method="POST" action="php/subscribe.php">
                            <input type="email" class="form-control" id="subscribe-input" name="subscribe-input" placeholder="Enter Your Email Address">
                            <button class="email-submit-btn" type="submit">go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- CONTACT SECTION -->
<section class="footer-bg">
<div id="contact-section" class="gray-bg">
    <div class="container">
        <div class="contact-wrapper">
        <div class="row">
                <div class="col-sm-5">
                    <div class="contact-form-area">
                        <h2 class="text-capitalize">Contact us</h2>
                        <form id="digita-contact-form" action="php/contact-mail.php" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                            </div>
                            <div class="form-group">
                                <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                            </div>
                            <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                            <p class="contact-send-message"></p>
                        </form>
                    </div>
                </div>
            <div class="col-sm-7">
              <div class="google-map">
                  <div id="map"></div>
              </div>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- /CONTACT SECTION -->

