  <!-- HEADER AREA END -->
  <section class="blog-full-page-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-page-content-table">
            <div class="blog-table-cell">
                <h2>{{"Home.Blog Post"|translate}}</h2>
                <h4>{{"Home.Blog Post With Sidebar"|translate}}</h4>
            </div>
          </div>
          <div class="back-links">
            <ul class="list-inline">
                <li><a [routerLink]="['/home']">{{"Home.Home"|translate}}</a></li>
                <li class="active">- {{"Home.Blog Details"|translate}}</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
        </div>
      </div>
    </div>
  </section>
<!-- blog AREA  -->

<section class="latest-blog-area wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-push-4">
              <div class="row mb-50">
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-1.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                <p><a href="#"><span class="ti-user"></span>{{"Home.date"|translate}}</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                            <a href="#"><h2>{{"Home.p12"|translate}}</h2></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-2.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>{{"Home.date"|translate}}</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>{{"Home.p12"|translate}}</h2></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row mb-50">
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-3.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>{{"Home.date"|translate}}</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>{{"Home.p12"|translate}}</h2></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-1.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>{{"Home.date"|translate}}</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>{{"Home.p12"|translate}}</h2></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-2.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>{{"Home.date"|translate}}</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>{{"Home.p12"|translate}}</h2></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-3.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>{{"Home.date"|translate}}</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>{{"Home.p12"|translate}}</h2></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-md-pull-8">
              <div class="blog-right-search-button">
                  <div class="search-button">
                      <input type="text" placeholder="Enter Your Keyword">
                      <button><img src="assets/img/icons/search-icon.png" alt="search-icon"></button>
                  </div>
              </div>
              <div class="blog-categories-right">
                <h2>{{"Home.Categories"|translate}}</h2>
                <div class="categories-right-list">
                    <ul>
                        <li><a href="#">{{"Home.Adventures"|translate}} (12)</a></li>
                        <li><a href="#">{{"Home.Traveling"|translate}} (08)</a></li>
                        <li class="active"><a href="#">{{"Home.Lifestyle"|translate}} (10)</a></li>
                        <li><a href="#">{{"Home.Foods"|translate}} (05)</a></li>
                        <li><a href="#">{{"Home.Trendy Fashion"|translate}} (07)</a></li>
                        <li><a href="#">{{"Home.Popular"|translate}} (07)</a></li>
                    </ul>
                  </div>
              </div>
              <div class="blog-recent-post">
                  <h3>{{"Home.Recent Post"|translate}}</h3>
                  <div class="row">
                      <div class="col-md-5 col-sm-5 col-xs-5">
                          <div class="blog-recent-post-image-1">
                              <a href="#"><img src="assets/img/blog/recent-post-bg-1.jpg" alt="recent-post-bg"></a>
                          </div>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-7">
                          <div class="blog-recent-post-content">
                              <p>{{"Home.date"|translate}}</p>
                              <a href="#">
                                  <h2>{{"Home.p1"|translate}}</h2>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5 col-sm-5 col-xs-5">
                          <div class="blog-recent-post-image-1">
                              <a href="#"> <img src="assets/img/blog/recent-post-bg-2.jpg" alt="recent-post-bg"></a>
                          </div>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-7">
                          <div class="blog-recent-post-content">
                              <p>{{"Home.date"|translate}}</p>
                              <a href="#">
                                  <h2>{{"Home.p1"|translate}}</h2>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5 col-sm-5 col-xs-5">
                          <div class="blog-recent-post-image-1">
                              <a href="#"> <img src="assets/img/blog/recent-post-bg-3.jpg" alt="recent-post-bg"></a>
                          </div>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-7">
                          <div class="blog-recent-post-content">
                              <p>{{"Home.date"|translate}}</p>
                              <a href="#">
                                  <h2>{{"Home.p1"|translate}}</h2>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="blog-tag-cloud">
                <h2>{{"Home.Tags Cloud"|translate}}</h2>
                <div class="blog-tag-cloud-list">
                    <ul>
                        <li><a href="#">{{"Home.Travels"|translate}}</a></li>
                        <li class="active"><a href="#">{{"Home.Adverture"|translate}}</a></li>
                        <li><a href="#">{{"Home.Foods"|translate}}</a></li>
                        <li><a href="#">{{"Home.Lifestyle"|translate}}</a></li>
                        <li><a href="#">{{"Home.Traveling"|translate}}</a></li>
                        <li><a href="#">{{"Home.Photography"|translate}}</a></li>
                        <li><a href="#">{{"Home.Trends"|translate}}</a></li>
                        <li><a href="#">{{"Home.Fashion"|translate}}</a></li>
                        <li><a href="#">{{"Home.Music"|translate}}</a></li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
      <div class="other-page-link">
          <ul class="pagination">
            <li><a href="#">{{"Home.newer post"|translate}}</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">{{"Home.older post"|translate}}</a></li>
          </ul>
      </div>
</section>





 <!-- subscription area start -->
 <section id="subscribe-area">
    <div class="container">
        <div class="subscribe-wrapper">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="Contact" class="subscribe-text">
                        <h2>{{"Home.SubscribE Now" | translate}}</h2>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="subscribe-box">
                        <form action="http://hackinout.us15.list-manage.com/subscribe/post-json?u=e44c1f194bec93e238615469e&amp;id=fa63cb4ac7&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email Address" required>
                            <div aria-hidden="true">
                                <input type="text" name="b_e44c1f194bec93e238615469e_f6f826e769" tabindex="-1" value="">
                            </div>
                            <input type="submit" value="GO" name="subscribe" id="mc-embedded-subscribe" class="mc-button">
                            <div id="subscribe-result">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <!-- CONTACT SECTION -->
<section class="footer-bg">
<div id="contact-section" class="gray-bg">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row">
                    <div class="col-sm-5">
                        <div class="contact-form-area">
                            <h2 class="text-capitalize">{{"Home.Contact us" | translate}}</h2>
                            <form id="digita-contact-form" action="php/contact-mail.php" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                                </div>
                                <div class="form-group">
                                    <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                                </div>
                                <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                                <p class="contact-send-message"></p>
                            </form>
                        </div>
                    </div>
                <div class="col-sm-7">
                    <div class="google-map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
  