<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                        <h2>{{"Home.Team Member"|translate}}</h2>
                        <p>{{"Home.p13"|translate}} <br> {{"Home.p14"|translate}}</p>
                    </div>
                </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a href="index.html">Home{{"Home."|translate}}</a></li>
              <li class="active">- {{"Home.Team Member"|translate}}</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>
<!--TEAM AREA-->

<section class="team-area team-area-2">
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="section-heading text-center">
              <h2>{{"Home.Team Member"|translate}}</h2>
              <img src="assets/img/section/section-icon.png" alt="place your img">
              <p>{{"Home.p2"|translate}}</p>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member.jpg" alt="team member">
            <div class="team-meta">
                <h4>{{"Home.Nathan Silva" | translate}}</h4>
                <p>{{"Home.CEO at Bufet" | translate}}</p>
            </div>
            <div class="team-overlay">
                <h5>{{"Home.Anna Watson" | translate}}</h5>
                <p class="meta-p">{{"Home.Founder" | translate}}</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-2.jpg" alt="team member">
            <div class="team-meta">
                <h4>{{"Home.Mrs. Lisa Silva" | translate}}</h4>
                <p>{{"Home.Content Writer" | translate}}</p>
            </div>
            <div class="team-overlay">
                <h5>{{"Home.M S Newaz" | translate}}</h5>
                <p class="meta-p">{{"Home.Strategic Planner" | translate}}</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-3.jpg" alt="team member">
            <div class="team-meta">
                <h4>{{"Home.Richard Burke" | translate}}</h4>
                <p>{{"Home.Creative Director" | translate}}</p>
            </div>
            <div class="team-overlay">
                <h5>{{"Home.Cristian Elora" | translate}}</h5>
                <p class="meta-p">{{"Home.Art Director" | translate}}</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-4.jpg" alt="team member">
            <div class="team-meta">
                <h4>{{"Home.Susan Riley" | translate}}</h4>
                <p>{{"Home.ui Designer" | translate}}</p>
            </div>
            <div class="team-overlay">
                <h5>{{"Home.Ohidul Islam" | translate}}</h5>
                <p class="meta-p">{{"Home.Web Developer" | translate}}</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row mt-50px">
        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-5.jpg" alt="team member">
            <div class="team-meta">
                


                <h4>{{"Home.Mrs. Lisa Silva" | translate}}</h4>
                <p>{{"Home.Content Writer" | translate}}</p>
            </div>
            <div class="team-overlay">
                <h5>{{"Home.Anna Watson" | translate}}</h5>
                <p class="meta-p">{{"Home.Founder" | translate}}</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-6.jpg" alt="team member">
            <div class="team-meta">
                <h4>{{"Home.Nathan Silva" | translate}}</h4>
                <p>{{"Home.CEO at Bufet" | translate}}</p>


               
            </div>
            <div class="team-overlay">
                <h5>{{"Home.M S Newaz" | translate}}</h5>
                <p class="meta-p">{{"Home.Strategic Planner" | translate}}</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-7.jpg" alt="team member">
            <div class="team-meta">
                

                <h4>{{"Home.Susan Riley" | translate}}</h4>
                <p>{{"Home.ui Designer" | translate}}</p>
            </div>
            <div class="team-overlay">
                <h5>{{"Home.Cristian Elora" | translate}}</h5>
                <p class="meta-p">{{"Home.Art Director" | translate}}</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-8.jpg" alt="team member">
            <div class="team-meta">
                

                <h4>{{"Home.Richard Burke" | translate}}</h4>
                <p>{{"Home.Creative Director" | translate}}</p>
            </div>
            <div class="team-overlay">
                <h5>{{"Home.Ohidul Islam" | translate}}</h5>
                <p class="meta-p">{{"Home.Web Developer" | translate}}</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</section>
<!--TEAM AREA  END-->


<!--DOWNLOAD-AREA-->
<section class="download-area">
    <div id="background-19" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-20" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-21" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-22" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-23" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-24" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-25" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-26" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-27" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-28" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-29" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-30" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-31" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-32" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-33" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-34" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-35" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-36" class="mouse-bg hidden-xs hidden-sm"></div>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="download-table">
                <div class="download-table-cell">
                    <h2>{{"Home.Bufet is Awesome !" | translate}} <br>{{"Home.It’s" | translate}} <span> {{"Home.Free" | translate}} </span> {{"Home.to Download for Everyone" | translate}}</h2>
  
                    <div class="button-group store-buttons">
                        <a href="#" class="btn-style-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                            <span class="ti-android"></span>
                            <p class="dsp-tc">{{"Home.available on" | translate}}
                                <br> <span>{{"Home.Google Store" | translate}}</span></p>
                        </a>
                        <a href="#" class=" btn-style-2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
                            <span class="ti-apple"></span>
                            <p class="dsp-tc">{{"Home.available on" | translate}}
                                <br> <span>{{"Home.Apple Store" | translate}}</span></p>
                        </a>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
  </div>
  </section>
  
  <!--DOWNLOAD-AREA  END-->