<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                        <h2>Team Member</h2>
                        <p>Now we are fast growing mobile app and Business as a Service (saas) <br> service provider of the world. Check out little bit about us.</p>
                    </div>
                </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a href="index.html">Home</a></li>
              <li class="active">- Team Member</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>
<!--TEAM AREA-->

<section class="team-area team-area-2">
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="section-heading text-center">
              <h2>Team Member</h2>
              <img src="assets/img/section/section-icon.png" alt="place your img">
              <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incidit labore Lorem ipsum amet madolor sit amet.</p>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member.jpg" alt="team member">
            <div class="team-meta">
                <h4>Nathan Silva</h4>
                <p>CEO at Bufet</p>
            </div>
            <div class="team-overlay">
                <h5>Anna Watson</h5>
                <p class="meta-p">Founder</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-2.jpg" alt="team member">
            <div class="team-meta">
                <h4>Mrs. Lisa Silva</h4>
                <p>Content Writer</p>
            </div>
            <div class="team-overlay">
                <h5>M S Newaz</h5>
                <p class="meta-p">Strategic Planner</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-3.jpg" alt="team member">
            <div class="team-meta">
                <h4>Richard Burke</h4>
                <p>Creative Director</p>
            </div>
            <div class="team-overlay">
                <h5>Cristian Elora</h5>
                <p class="meta-p">Art Director</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-4.jpg" alt="team member">
            <div class="team-meta">
                <h4>Susan Riley</h4>
                <p>ui Designer</p>
            </div>
            <div class="team-overlay">
                <h5>Ohidul Islam</h5>
                <p class="meta-p">Web Developer</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row mt-50px">
        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-5.jpg" alt="team member">
            <div class="team-meta">
                <h4>Nathan Silva</h4>
                <p>CEO at Bufet</p>
            </div>
            <div class="team-overlay">
                <h5>Anna Watson</h5>
                <p class="meta-p">Founder</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-6.jpg" alt="team member">
            <div class="team-meta">
                <h4>Mrs. Lisa Silva</h4>
                <p>Content Writer</p>
            </div>
            <div class="team-overlay">
                <h5>M S Newaz</h5>
                <p class="meta-p">Strategic Planner</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-7.jpg" alt="team member">
            <div class="team-meta">
                <h4>Richard Burke</h4>
                <p>Creative Director</p>
            </div>
            <div class="team-overlay">
                <h5>Cristian Elora</h5>
                <p class="meta-p">Art Director</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="team-carosule-single-item">
            <img src="assets/img/team/team-member-8.jpg" alt="team member">
            <div class="team-meta">
                <h4>Susan Riley</h4>
                <p>ui Designer</p>
            </div>
            <div class="team-overlay">
                <h5>Ohidul Islam</h5>
                <p class="meta-p">Web Developer</p>
                <div class="team-social-links">
                    <div class="social-links">
                        <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                        <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                        <a href="#" target="_blank"><span class="ti-google"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</section>
<!--TEAM AREA  END-->


<!--DOWNLOAD-AREA-->
<section class="download-area homepage-8">
    <div id="background-19" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-20" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-21" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-22" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-23" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-24" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-25" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-26" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-27" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-28" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-29" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-30" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-31" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-32" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-33" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-34" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-35" class="mouse-bg hidden-xs hidden-sm"></div>
    <div id="background-36" class="mouse-bg hidden-xs hidden-sm"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="download-table">
          <div class="download-table-cell">
            <h2>Bufet is Awesome ! <br>It’s <span> Free </span> to Download for Everyone</h2>

            <div class="button-group store-buttons">
                          <a href="#" class="btn-style-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                              <span class="ti-android"></span>
                              <p class="dsp-tc">available on
                                  <br> <span>Google Store</span></p>
                          </a>
                          <a href="#" class=" btn-style-2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
                              <span class="ti-apple"></span>
                              <p class="dsp-tc">available on
                                  <br> <span>Apple Store</span></p>
                          </a>
                      </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <!--DOWNLOAD-AREA  END-->