<section class="blank-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blank-page-table">
                    <div class="blank-page-table-cell">
                        <ul class="list-inline">
                            <li>4</li>
                            <li class="diff-color">0</li>
                            <li>4</li>
                        </ul>
                        <a style="cursor: pointer;" [routerLink]="['/home']" class="home-page-link">{{"Home.Take me the Home Page"|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

