<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                        <h2>Contact with us</h2>
                        <p>Now we are fast growing mobile app and Business as a Service (saas) <br> service provider of the world. Check out little bit about us.</p>
                    </div>
                </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a href="index.html">Home</a></li>
              <li class="active">-  Contact</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>

    <div class="address-area contact-page">
    <div class="container">
        <div class="address-wrapper">
          <div class="row">
              <div class="col-md-4 col-sm-4 ">
                  <div class="single-address">
                    <div class="address-icon-bg">
                         <span class="ti-headphone-alt"></span>
                      </div>
                      <p class="single-contact-info"><a href="tel:326578912">+0044 545 989 62698</a></p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 ">
                  <div class="single-address">
                    <div class="address-icon-bg">
                      <span class="ti-pin2"></span>
                      </div>
                      <p>28 Green Tower, Street Name, New York City, USA</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 ">
                  <div class="single-address">
                    <div class="address-icon-bg">
                      <span class=" ti-email"></span>
                      </div>
                      <p class="single-contact-info"><a href="mailto:hasan.nazmulmmc@gamil.com">www.marveltheme.com</a> </p>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>

 <!--DOWNLOAD-AREA  END-->

 <!-- subscription area start -->
<section id="subscribe-area">
    <div class="container">
        <div class="subscribe-wrapper">
            <div class="row">
                <div class="col-sm-4">
                    <div class="subscribe-text">
                        <h2>SubscribE Now</h2>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="subscribe-box">
                        <form class="subscription-form" method="POST" action="php/subscribe.php">
                            <input type="email" class="form-control" id="subscribe-input" name="subscribe-input" placeholder="Enter Your Email Address">
                            <button class="email-submit-btn" type="submit">go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- CONTACT SECTION -->
<section class="footer-bg">
<div id="contact-section" class="gray-bg">
    <div class="container">
        <div class="contact-wrapper">
        <div class="row">
                <div class="col-sm-5">
                    <div class="contact-form-area">
                        <h2 class="text-capitalize">Contact us</h2>
                        <form id="digita-contact-form" action="php/contact-mail.php" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                            </div>
                            <div class="form-group">
                                <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                            </div>
                            <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                            <p class="contact-send-message"></p>
                        </form>
                    </div>
                </div>
            <div class="col-sm-7">
                <div class="google-map">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>