<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                        <h2>{{"Home.Contact with us"|translate}}</h2>
                        <p>{{"Home.p13"|translate}} <br> {{"Home.p14"|translate}}</p>
                    </div>
                </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a href="index.html">{{"Home.Home"|translate}}</a></li>
              <li class="active">-  {{"Home.Contact"|translate}}</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>

    <div class="address-area contact-page">
    <div class="container">
        <div class="address-wrapper">
          <div class="row">
              <div class="col-md-4 col-sm-4 ">
                  <div class="single-address">
                    <div class="address-icon-bg">
                         <span class="ti-headphone-alt"></span>
                      </div>
                      <p class="single-contact-info"><a href="tel:326578912">+0044 545 989 62698</a></p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 ">
                  <div class="single-address">
                    <div class="address-icon-bg">
                      <span class="ti-pin2"></span>
                      </div>
                      <p>28 {{"Home.Green Tower, Street Name, New York City, USA"|translate}}</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 ">
                  <div class="single-address">
                    <div class="address-icon-bg">
                      <span class=" ti-email"></span>
                      </div>
                      <p class="single-contact-info"><a href="mailto:eslamdahshan61@gamil.com">www.none.com</a> </p>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>

 <!--DOWNLOAD-AREA  END-->


 <!-- subscription area start -->
 <section id="subscribe-area">
    <div class="container">
        <div class="subscribe-wrapper">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="Contact" class="subscribe-text">
                        <h2>{{"Home.SubscribE Now" | translate}}</h2>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="subscribe-box">
                        <form action="http://hackinout.us15.list-manage.com/subscribe/post-json?u=e44c1f194bec93e238615469e&amp;id=fa63cb4ac7&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email Address" required>
                            <div aria-hidden="true">
                                <input type="text" name="b_e44c1f194bec93e238615469e_f6f826e769" tabindex="-1" value="">
                            </div>
                            <input type="submit" value="GO" name="subscribe" id="mc-embedded-subscribe" class="mc-button">
                            <div id="subscribe-result">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <!-- CONTACT SECTION -->
<section class="footer-bg">
<div id="contact-section" class="gray-bg">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row">
                    <div class="col-sm-5">
                        <div class="contact-form-area">
                            <h2 class="text-capitalize">{{"Home.Contact us" | translate}}</h2>
                            <form id="digita-contact-form" action="php/contact-mail.php" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                                </div>
                                <div class="form-group">
                                    <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                                </div>
                                <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                                <p class="contact-send-message"></p>
                            </form>
                        </div>
                    </div>
                <div class="col-sm-7">
                    <div class="google-map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>