

<section id="slider-section" class="homepage-slider-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-content-table">
                    <div class="slider-content-table-cell">
                        <div class="slider-content">
                            <h1 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">{{"Home.p1" | translate}}</h1>
                            <p class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">{{"Home.p2" | translate}} </p>
                            <a class="download-btn all-btn" href="#">{{"Home.downlaod" | translate}}</a>
                        </div>
                        <div class="video-area-bg" >
                            <a class="mfp-iframe video-play-btn venobox" data-autoplay="true" data-vbtype="video" href="http://youtu.be/watch?v=5SVR7x1ENm4">
                                </a>
                            <h4> {{"Home.watch video" | translate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-screen hidden-xs"><img src="assets/img/screen/screen-1.png" alt="place your img" class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s"></div>
        </div>
    </div>
</section>
<section class="feature-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-feature">
                    <span class="counter-number">01</span>
                    <div class="feature-img">
                        <span class="ti-vector"></span>
                    </div>
                    <a [routerLink]="['/features']"><h2>{{"Home.Forcast Sales" | translate}}</h2></a>
                    <p>{{"Home.p3" | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-feature">
                    <span class="counter-number">02</span>
                    <div class="feature-img">
                        <span class="ti-panel"></span>
                    </div>
                    <a [routerLink]="['/features']"><h2>{{"Home.Retargetion Customer" | translate}}</h2></a>
                    <p>{{"Home.p3" | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-feature">
                    <span class="counter-number">03</span>
                    <div class="feature-img">
                        <span class="ti-desktop"></span>
                    </div>
                    <a [routerLink]="['/features']"><h2>{{"Home.High Performance" | translate}}</h2></a>
                    <p>{{"Home.p3" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about"  class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 ">
                <div class="about-left">
                    <img src="assets/img/screen/mobile-2.png" alt="place your img" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-right">
                    <h2>{{"Home.Why Bufet ?" | translate}}</h2>
                    <p>{{"Home.p5" | translate}}</p>
                    <p class="another">{{"Home.p5" | translate}}</p>
                    <div class="about-list">
                        <ul>
                            <li>{{"Home.p5" | translate}}</li>
                            <li>{{"Home.p5" | translate}}</li>
                            <li>{{"Home.p5" | translate}}</li>
                            <li>{{"Home.p5" | translate}}</li>
                        </ul>
                    </div>
                    <a  [routerLink]="['/about']" class="about-btn">{{"Home.read more" | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="work-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="work-left">
                        <h2>{{"Home.Why Bufet is" | translate}} <br> {{"Home.Best for your Business?" | translate}}</h2>
                        <p>{{"Home.p2" | translate}}</p>
                        <p class="other">{{"Home.p2" | translate}}</p>
                        <a  [routerLink]="['/about']" class="about-btn">{{"Home.read more" | translate}}</a>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 col-sm-6 ">
                    <div class="work-right">
                        <div class="single-work">
                            <img src="assets/img/feature/work-1.png" alt="place your img">
                            <h2>{{"Home.Login First" | translate}}</h2>
                            <p>{{"Home.p2" | translate}}</p>                        </div>
                        <div class="single-work">
                            <img src="assets/img/feature/work-2.png" alt="place your img">
                            <h2>{{"Home.Data Analysis" | translate}}</h2>
                            <p>{{"Home.p2" | translate}}</p>                        </div>
                        <div class="single-work">
                            <img src="assets/img/feature/work-3.png" alt="place your img">
                            <h2>{{"Home.Show Result" | translate}}</h2>
                            <p>{{"Home.p2" | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="advance-feature-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="row ml-20">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="single-advance">
                                    <span class="ti-cup"></span>
                                    <h2>{{"Home.High Resolution" | translate}}</h2>
                                    <p>{{"Home.p7" | translate}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="single-advance">
                                    <span class="ti-vector"></span>
                                    <h2>{{"Home.Creative Design" | translate}}</h2>
                                    <p>{{"Home.p7" | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-20">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="single-advance">
                                    <span class="ti-eye"></span>
                                    <h2>{{"Home.Pixel Perfect" | translate}}</h2>
                                    <p>{{"Home.p7" | translate}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="single-advance">
                                    <span class="ti-magnet"></span>
                                    <h2>{{"Home.Ratina Ready" | translate}}</h2>
                                    <p>{{"Home.p7" | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="advance-feature about-right">
                            <h2>{{"Home.Advance Features" | translate}} <br> {{"Home.That Give You Real Feel" | translate}}</h2>
                            <p>{{"Home.p4" | translate}}</p>
                            <div class="about-list">
                                <ul>
                                    <li>{{"Home.p3" | translate}}</li>
                                    <li>{{"Home.p3" | translate}}</li>
                                    <li>{{"Home.p3" | translate}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>









         <section id="screenshots" class="screenshots-area">

         <!--  <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading text-center">
                            <h2>App Screenshots</h2>
                            <img src="assets/img/section/section-icon.png" alt="place your img">
                            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
                        </div>
                    </div>
                </div>

                
            <div class="slider-wrapper-2">
                <div class="slide one">
                    <div class="slider-image">
                        <img src="assets/img/screen/screenshort-1.jpg" alt="place your img" class="">
                        <div class="preview-icon">
                            <a  href="assets/img/screen/screenshort-1.jpg"><span class="ti-fullscreen"></span></a>
                        </div>
                    </div>
                </div>
                <div class="slide one">
                    <div class="slider-image">
                        <img src="assets/img/screen/screenshort-2.jpg" alt="place your img" class="">
                        <div class="preview-icon">
                            <a  href="assets/img/screen/screenshort-2.jpg"><span class="ti-fullscreen"></span></a>
                        </div>
                    </div>
                </div>
                <div class="slide one">
                    <div class="slider-image">
                        <img src="assets/img/screen/screenshort-3.jpg" alt="place your img" class="">
                        <div class="preview-icon">
                            <a  href="assets/img/screen/screenshort-3.jpg"><span class="ti-fullscreen"></span></a>
                        </div>
                    </div>
                </div>
                <div class="slide one">
                    <div class="slider-image">
                        <img src="assets/img/screen/screenshort-4.jpg" alt="place your img" class="">
                        <div class="preview-icon">
                            <a  href="assets/img/screen/screenshort-4.jpg"><span class="ti-fullscreen"></span></a>
                        </div>
                    </div>
                </div>
                <div class="slide one">
                    <div class="slider-image">
                        <img src="assets/img/screen/screenshort-1.jpg" alt="place your img" class="">
                        <div class="preview-icon">
                            <a  href="assets/img/screen/screenshort-1.jpg"><span class="ti-fullscreen"></span></a>
                        </div>
                    </div>
                </div>
                <div class="slide one">
                    <div class="slider-image">
                        <img src="assets/img/screen/screenshort-2.jpg" alt="place your img" class="">
                        <div class="preview-icon">
                            <a  href="assets/img/screen/screenshort-2.jpg"><span class="ti-fullscreen"></span></a>
                        </div>
                    </div>
                </div>
                <div class="slide one">
                    <div class="slider-image">
                        <img src="assets/img/screen/screenshort-3.jpg" alt="place your img" class="">
                        <div class="preview-icon">
                            <a  href="assets/img/screen/screenshort-3.jpg"><span class="ti-fullscreen"></span></a>
                        </div>
                    </div>
                </div>
                <div class="slide one">
                    <div class="slider-image">
                        <img src="assets/img/screen/screenshort-3.jpg" alt="place your img" class="">
                        <div class="preview-icon">
                            <a  href="assets/img/screen/screenshort-3.jpg"><span class="ti-fullscreen"></span></a>
                        </div>
                    </div>
                </div>
                <div class="slide one">
                    <div class="slider-image">
                        <img src="assets/img/screen/screenshort-4.jpg" alt="place your img" class="">
                        <div class="preview-icon">
                            <a  href="assets/img/screen/screenshort-4.jpg"><span class="ti-fullscreen"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section> 
    <section class="promo-video-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="video-demo-image">
                        <div class="overlay-grad-one">
                            <img src="assets/img/bg/promo-video.jpg" alt="place your img" class="img-responsive center-block">
                        </div>
                        <div class=" video-play-icon">
                            <a class="venobox" data-autoplay="true" data-vbtype="video" href="http://youtu.be/watch?v=5SVR7x1ENm4">
                                <span></span>
                            </a>
                            <p>{{"Home.watch video" | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--FUN FACT AREA AREA-->

<section class="fan-fact-area fan-fact-area-bg">
   <div class="container">
       <div class="row">
           <div class="col-md-3 col-sm-3 ">
               <div class="single-items">
                   <h2><span class="counter">1350</span>+</h2>
                   <div class="icon-bg">
                       <span class="ti-mouse"></span>
                   </div>
                   <h4>{{"Home.App Download" | translate}}</h4>
               </div>
           </div>
           <div class="col-md-3 col-sm-3 ">
               <div class="single-items">
                   <h2><span class="counter">950</span>+</h2>
                   <div class="icon-bg">
                       <span class="ti-user"></span>
                   </div>
                   <h4>{{"Home.Happy Clients" | translate}}</h4>
               </div>
           </div>
           <div class="col-md-3 col-sm-3 ">
               <div class="single-items">
                   <h2><span class="counter">1080</span>+</h2>
                   <div class="icon-bg">
                       <span class="ti-star"></span>
                   </div>
                   <h4>{{"Home.Active Accounts" | translate}}</h4>
               </div>
           </div>
           <div class="col-md-3 col-sm-3 ">
               <div class="single-items">
                   <h2><span class="counter">1020</span>+</h2>
                   <div class="icon-bg">
                       <span class="ti-heart"></span>
                   </div>
                   <h4>{{"Home.Positive Rating" | translate}}</h4>
               </div>
           </div>
       </div>
   </div>
</section>

<!--FUN FACT AREA AREA END-->
<!--TESTIMONIAL-AREA -->
<!-- <ng-container>


<section class="testimonial-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center">
            <h2>Testimonials</h2>
            <img src="assets/img/section/section-icon.png" alt="place your img">
            <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
        </div>
      </div>
    </div>
        <div class="testi-carousel">
            <div class="testi-single-item ">
                <div class="item-inner">
                    <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                      <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
                    </div>
                    <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
                    eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
                    <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

                </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
                    <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                      <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
                    </div>
                    <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
                    eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
                    <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

                </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
                    <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                      <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
                    </div>
                    <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
                    eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
                    <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

                </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
                    <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                      <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
                    </div>
                    <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
                    eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
                    <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

                </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
                    <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                      <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
                    </div>
                    <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
                    eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
                    <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

                </div>
            </div>
            <div class="testi-single-item ">
                <div class="item-inner">
                    <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                      <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
                    </div>
                    <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
                    eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
                    <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-btns">
            <button class="testi-nav-left"><span class="ti-angle-left"></span></button>
            <button class="testi-nav-right"><span class="ti-angle-right"></span></button>
        </div>
  </div>
</section> 

</ng-container> -->

<section class="testimonial-area">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
    <div class="section-heading text-center">
                <h2>{{"Home.Some of our Reviews" | translate}}</h2>
                    <img src="assets/img/section/section-icon.png" alt="place your img">
                    <p>{{"Home.p2" | translate}}</p>
            </div>
        </div>
      </div>
          <div class="testi-review">
            <div class="row">
                <div class="col-md-6">
                    <div class="testi-single-item ">
                        <div class="item-inner">
                      <div class="testimonial-meta">
                            <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                        <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                      </div>
                        <p>“{{"Home.p2" | translate}}”</p>
              <div class="testimonial-rating">
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                            </div>
        
                    </div>
                    </div>
                    </div>
              <div class="col-md-6">
              <div class="testi-single-item ">
                  <div class="item-inner">
                <div class="testimonial-meta">
                      <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                  <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                </div>
                  <p>“{{"Home.p2" | translate}}”</p>
        <div class="testimonial-rating">
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                      </div>
  
              </div>
              </div>
              </div>
              </div>
          <div class="row">
          <div class="col-md-6">
              <div class="testi-single-item ">
                  <div class="item-inner">
                <div class="testimonial-meta">
                      <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                  <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                </div>
                  <p>“{{"Home.p2" | translate}}”</p>
        <div class="testimonial-rating">
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                      </div>
  
              </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="testi-single-item ">
                    <div class="item-inner">
                  <div class="testimonial-meta">
                        <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                    <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                  </div>
                    <p>“{{"Home.p2" | translate}}”</p>
          <div class="testimonial-rating">
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                        </div>
    
                </div>
                </div>
                </div>
                </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="testi-single-item ">
                        <div class="item-inner">
                      <div class="testimonial-meta">
                            <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                        <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                      </div>
                        <p>“{{"Home.p2" | translate}}”</p>
              <div class="testimonial-rating">
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                            </div>
        
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testi-single-item ">
                            <div class="item-inner">
                          <div class="testimonial-meta">
                                <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                            <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                          </div>
                            <p>“{{"Home.p2" | translate}}”</p>
                  <div class="testimonial-rating">
                                        <span class="ti-star"></span>
                                        <span class="ti-star"></span>
                                        <span class="ti-star"></span>
                                        <span class="ti-star"></span>
                                        <span class="ti-star"></span>
                                </div>
            
                        </div>
                        </div>
                        </div>
                        </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="testi-single-item ">
                        <div class="item-inner">
                      <div class="testimonial-meta">
                            <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                        <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                      </div>
                        <p>“{{"Home.p2" | translate}}”</p>
              <div class="testimonial-rating">
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                                    <span class="ti-star"></span>
                            </div>
        
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testi-single-item ">
                            <div class="item-inner">
                          <div class="testimonial-meta">
                                <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                            <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                          </div>
                            <p>“{{"Home.p2" | translate}}”</p>
                  <div class="testimonial-rating">
                                        <span class="ti-star"></span>
                                        <span class="ti-star"></span>
                                        <span class="ti-star"></span>
                                        <span class="ti-star"></span>
                                        <span class="ti-star"></span>
                                </div>
            
                        </div>
                        </div>
                        </div>
                        </div>
          <div class="faq-button">
          <a class="pricing-btn blue-btn about-btn" href="#">{{"Home.LOAD MORE" | translate}}</a>
          </div>
          </div>
          
    </div>
  </section>
   


<!--TESTIMONIAL-AREA  END-->

<!--PRICING-TABLE-AREA-->
<section id="Pricing" class="pricing-table-area">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center">
            <h2>{{"Home.Select Your Plan" | translate}}</h2>
            <img src="assets/img/section/section-icon.png" alt="place your img">
            <p>{{"Home.p2" | translate}}</p>
        </div>
      </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-pricing-table">
                    <div class="pricing-heading">
                        <h2>{{"Home.Basic" | translate}}</h2>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>{{"Home.100 MB Disk Space" | translate}}</li>
                            <li>{{"Home.2 Subdomains" | translate}}</li>
                            <li>{{"Home.5 Email Accounts" | translate}}</li>
                            <li>{{"Home.Webmail Support" | translate}}</li>
                        </ul>
                    </div>
                       <div class="pricing-amount">
                      <sup><span class="currency">$</span></sup>
                      <span class="price">
                          25
                      </span>
                      <span class="subscription">
                          /{{"Home.Annualy" | translate}}
                      </span>
                   </div>
                   <a class="pricing-btn blue-btn" [routerLink]="['/pricing']">{{"Home.PURCHASE" | translate}}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-pricing-table">
                    <div class="pricing-heading">
                        <h2>{{"Home.Standard" | translate}}</h2>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>{{"Home.100 MB Disk Space" | translate}}</li>
                            <li>{{"Home.2 Subdomains" | translate}}</li>
                            <li>{{"Home.5 Email Accounts" | translate}}</li>
                            <li>{{"Home.Webmail Support" | translate}}</li>
                        </ul>
                    </div>
                       <div class="pricing-amount">
                      <sup><span class="currency">$</span></sup>
                      <span class="price">
                          50
                      </span>
                      <span class="subscription">
                          /{{"Home.Annualy" | translate}}
                      </span>
                   </div>
                   <a class="pricing-btn blue-btn" [routerLink]="['/pricing']">{{"Home.PURCHASE" | translate}}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-pricing-table">
                    <div class="pricing-heading">
                        <h2>{{"Home.Premium" | translate}}</h2>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>{{"Home.100 MB Disk Space" | translate}}</li>
                            <li>{{"Home.2 Subdomains" | translate}}</li>
                            <li>{{"Home.5 Email Accounts" | translate}}</li>
                            <li>{{"Home.Webmail Support" | translate}}</li>
                        </ul>
                    </div>
                       <div class="pricing-amount">
                      <sup><span class="currency">$</span></sup>
                      <span class="price">
                          70
                      </span>
                      <span class="subscription">
                          /{{"Home.Annualy" | translate}}
                      </span>
                   </div>
                   <a class="pricing-btn blue-btn" [routerLink]="['/pricing']">{{"Home.PURCHASE" | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</section>



<!--PRICING-TABLE-AREA  END-->


<!--FAQ'S-AREA-->
<section class="faq-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>{{"Home.Frequently asked questions" | translate}}</h2>
                    <img src="assets/img/section/section-icon.png" alt="place your img">
                    <p>{{"Home.p2" | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="faq-left">
                    <img src="assets/img/screen/faq-img.png" alt="place your img">
                </div>
            </div>
            <div class="col-md-6 ">
                <article class="beefup example-opensingle">
                    <h4 class="beefup__head">
                       {{"Home.p8" | translate}}
                        <span class="ti-angle-down"></span>
                    </h4>

                    <div class="beefup__body" >
                        <p>{{"Home.p2" | translate}}
                        </p>
                    </div>
                </article>
                <article class="beefup example-opensingle is-open">
        <h4 class="beefup__head ">
           {{"Home.p9" | translate}}
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>{{"Home.p2" | translate}}
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle">
        <h4 class="beefup__head">
         {{"Home.p10" | translate}}
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body" >
            <p>{{"Home.p2" | translate}}
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle">
        <h4 class="beefup__head">
            {{"Home.p11" | translate}}
            <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body" >
            <p>{{"Home.p2" | translate}}
            </p>
        </div>
    </article>
            </div>
        </div>
    </div>
</section>


<!--FAQ'S-AREA  END-->

<!--DOWNLOAD-AREA-->
<section class="download-area">
        <div id="background-19" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-20" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-21" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-22" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-23" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-24" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-25" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-26" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-27" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-28" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-29" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-30" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-31" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-32" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-33" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-34" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-35" class="mouse-bg hidden-xs hidden-sm"></div>
        <div id="background-36" class="mouse-bg hidden-xs hidden-sm"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="download-table">
                    <div class="download-table-cell">
                        <h2>{{"Home.Bufet is Awesome !" | translate}} <br>{{"Home.It’s" | translate}} <span> {{"Home.Free" | translate}} </span> {{"Home.to Download for Everyone" | translate}}</h2>

                        <div class="button-group store-buttons">
                            <a href="#" class="btn-style-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                                <span class="ti-android"></span>
                                <p class="dsp-tc">{{"Home.available on" | translate}}
                                    <br> <span>{{"Home.Google Store" | translate}}</span></p>
                            </a>
                            <a href="#" class=" btn-style-2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
                                <span class="ti-apple"></span>
                                <p class="dsp-tc">{{"Home.available on" | translate}}
                                    <br> <span>{{"Home.Apple Store" | translate}}</span></p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <!--DOWNLOAD-AREA  END-->

  <!--BLOG-AREA  END-->
  <section id="blog" class="blog-area ">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>{{"Home.Latest Blog Post" | translate}}</h2>
                    <img src="assets/img/section/section-icon.png" alt="place your img">
                    <p>{{"Home.date" | translate}}</p>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="single-blog-box">
                      <div class="single-blog-image">
                          <a [routerLink]="['/details']"><img src="assets/img/blog/blog-1.jpg" alt="place your img"></a>
                      </div>
                    <div class="post-meta clearfix">
                        <div class="posted-by pull-left">
                            <p><a [routerLink]="['/details']"><span class="ti-user"></span>{{"Home.date" | translate}}</a></p>
                        </div>
                        <div class="post-date pull-right">
                            <p><a [routerLink]="['/details']"><span class="ti-comment"></span>(23)</a></p>
                        </div>
                    </div>
                      <div class="blog-heading">
                          <a [routerLink]="['/details']"><h2>{{"Home.p12" | translate}}</h2></a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="single-blog-box">
                    <div class="single-blog-image">
                        <a [routerLink]="['/details']"><img src="assets/img/blog/blog-2.jpg" alt="place your img"></a>
                    </div>
                  <div class="post-meta clearfix">
                      <div class="posted-by pull-left">
                          <p><a [routerLink]="['/details']"><span class="ti-user"></span>{{"Home.date" | translate}}</a></p>
                      </div>
                      <div class="post-date pull-right">
                          <p><a [routerLink]="['/details']"><span class="ti-comment"></span>(23)</a></p>
                      </div>
                  </div>
                    <div class="blog-heading">
                        <a [routerLink]="['/details']"><h2>{{"Home.p12" | translate}}</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-blog-box">
                    <div class="single-blog-image">
                        <a [routerLink]="['/details']"><img src="assets/img/blog/blog-3.jpg" alt="place your img"></a>
                    </div>
                  <div class="post-meta clearfix">
                      <div class="posted-by pull-left">
                          <p><a [routerLink]="['/details']"><span class="ti-user"></span>{{"Home.date" | translate}}</a></p>
                      </div>
                      <div class="post-date pull-right">
                          <p><a [routerLink]="['/details']"><span class="ti-comment"></span>(23)</a></p>
                      </div>
                  </div>
                    <div class="blog-heading">
                        <a [routerLink]="['/details']"><h2>{{"Home.p12" | translate}}</h2></a>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </section>

   <!--BLOG-AREA  END-->



 <!-- subscription area start -->
<section id="subscribe-area">
    <div class="container">
        <div class="subscribe-wrapper">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="Contact" class="subscribe-text">
                        <h2>{{"Home.SubscribE Now" | translate}}</h2>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="subscribe-box">
                        <form action="http://hackinout.us15.list-manage.com/subscribe/post-json?u=e44c1f194bec93e238615469e&amp;id=fa63cb4ac7&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email Address" required>
                            <div aria-hidden="true">
                                <input type="text" name="b_e44c1f194bec93e238615469e_f6f826e769" tabindex="-1" value="">
                            </div>
                            <input type="submit" value="GO" name="subscribe" id="mc-embedded-subscribe" class="mc-button">
                            <div id="subscribe-result">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <!-- CONTACT SECTION -->
<section class="footer-bg">
<div id="contact-section" class="gray-bg">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row">
                    <div class="col-sm-5">
                        <div class="contact-form-area">
                            <h2 class="text-capitalize">{{"Home.Contact us" | translate}}</h2>
                            <form id="digita-contact-form" action="php/contact-mail.php" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                                </div>
                                <div class="form-group">
                                    <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                                </div>
                                <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                                <p class="contact-send-message"></p>
                            </form>
                        </div>
                    </div>
                <div class="col-sm-7">
                    <div class="google-map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<script>
    
(function ($) {
    "use strict";
    
    

    jQuery(document).ready(function($){
      
        
			
        



        // SMOOTH SCROLLING

        $(function() {
            $("#mainmenu a[href*='#'], a[href*='#']").bind('click', function(event) {
                var $anchor = $(this);
               $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top
                }, 1250);
                event.preventDefault();

            });
        });

          // SMOOTH SCROLLING
          
        $(function() {
            $("#mainmenu a[href*='#'], a[href*='#']").bind('click', function(event) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top
                }, 1250);
                event.preventDefault();

            });
        });



        $(".embed-responsive iframe").addClass("embed-responsive-item");
        $(".carousel-inner .item:first-child").addClass("active");

        $('[data-toggle="tooltip"]').tooltip();


        


          // Magnific Popup js


          $('.preview-icon a').magnificPopup({
        type: 'image',
        removalDelay: 300,
        mainClass: 'mfp-fade',
        gallery: {
            enabled: true
        }
    });


        // COUNTER UP

        $(".counter").counterUp({
            delay: 10,
            time: 5000
        });

         

              //footer animation ------------------
              var n = jQuery(".partcile-dec").data("parcount");
              jQuery(".partcile-dec").jParticle({
                  background: "rgba(255,255,255,0.0)",
                  color: "rgba(255,255,255,0.051)",
                  number: {
                    value: 620,
                    },

                  particle: {
                      speed: 10
                  }
              });


        


       $('#navigation').meanmenu({

        meanScreenWidth: "736",
        meanRemoveAttrs: true, 
        meanMenuCloseSize: "30px",


       });

          
        //pricing-tab-switcher

        $('.pricing-tab-switcher').on('click', function () {
            $(this).toggleClass('active');

            $('.pricing-amount').toggleClass('change-subs-duration');
        });
     

         /*----------------------------
        SCROLL TO TOP
    ------------------------------*/
    $(window).scroll(function () {
        var $totalHeight = $(window).scrollTop();
        var $scrollToTop = $(".scrolltotop");
        if ($totalHeight > 300) {
            $(".scrolltotop").fadeIn();
        } else {
            $(".scrolltotop").fadeOut();
        }

        if ($totalHeight + $(window).height() === $(document).height()) {
            $scrollToTop.css("bottom", "90px");
        } else {
            $scrollToTop.css("bottom", "20px");
        }
    });




     // homepage-8 slider carousel

     $('.slider-wreapper-3').slick({
        arrows: false,
        dots: true,
        infinite: true,
        speed: 500,
        fade: false,
        cssEase: 'ease',
        autoplay: false,
        autoplaySpeed: 3000,
        slidesToShow:1,
      });



     // homepage slider carousel

     $('.slider-content-active').owlCarousel({
         loop: true,
        margin:0,
        dots: true,
        autoplay: false,
        autoplayTimeout: 4000,
        smartSpeed: 1000,
        mouseDrag: true,
        touchDrag: false,
        center: true,
        items: 1,
      }); 


       /*---------------------------
        HOME MOCKUP SCREEN SLIDER
    -----------------------------*/
    var $screenshotCarousel = $('.screen-slider-actine');
    $screenshotCarousel.owlCarousel({
        merge: true,
        smartSpeed: 1000,
        loop: true,
        nav: false,
        center: true,
        navText: ['<i class="fa fa-long-arrow-left"></i> Prev', 'Next <i class="fa fa-long-arrow-right"></i>'],
        autoplay: true,
        animateIn: 'fadeIn',
        animateOut: 'fadeOut',
        autoplayTimeout: 3000,
        margin:0,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 1
            },
            1200: {
                items: 1
            },
            1900: {
                items: 1
            }
        }
    });


            // app screenshot carousel
            
          $('.slider-wrapper-2').slick({
            arrows: false,
            dots: true,
            loop:true,
            infinite: false,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [{
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }, 
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: false,
                        autoplay:true,
                    }
                }
            ]
        });   

		$('.testi-carousel').slick({
          infinite: true,
          dots: false,
          slidesToShow: 2,
          slidesToScroll: 1,
          nextArrow: $('.testi-nav-right'),
          prevArrow: $('.testi-nav-left'),
           responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2,
                  infinite: true,
                  dots: true
                }
              },
              {
                breakpoint: 668,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }
          ]
        });

        //ALL-BRAND-CARSOUL
        $('.all-brand-carsouel').owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                },
                600: {
                    items: 3,
                },
                1000: {
                    items: 5,
                }
            }
        })


    });


     // preloader
            $(window).on('load', function() {
                $('.preloader.loading').fadeOut(2000);
                $('.preloader-wrapper').delay(1000).fadeOut('slow');

                //WOW ANIMATION
        
               new WOW().init();

            });



    function updateMenuButton() {
      $('.js-menu-button').find('.menu-icon').toggleClass('is-active');
    }

    $(document).ready(function() {

      $('.js-menu-button').click(function(e){

        e.preventDefault();
        updateMenuButton();

      });

    });
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
        
    }
    
  
    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');
  
        function updateClock() {
            var t = getTimeRemaining(endtime);
  
            daysSpan.innerHTML = t.days;
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
  
            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }
  
        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }
  
    var deadline = $('#clockdiv').data('coming-soon-date');
    console.log(deadline);
    initializeClock('clockdiv', deadline);
     
  
  
    


}(jQuery));

</script>