<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                      <h2>{{"Home.Pricing Table" | translate}}</h2>
                      <p>{{"Home.p13" | translate}} <br> {{"Home.p14" | translate}}</p>
                    </div>
                  </div>
                    <div class="back-links">
                      <ul class="list-inline">
                        <li><a [routerLink]="['/home']">{{"Home.Home" | translate}}</a></li>
                        <li class="active">-  {{"Home.Pricing Table" | translate}}</li>
                      </ul>
                    </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>


<!--PRICING-TABLE-AREA-->
<section id="Pricing" class="pricing-table-area">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading text-center">
          <h2>{{"Home.Select Your Plan" | translate}}</h2>
          <img src="assets/img/section/section-icon.png" alt="place your img">
          <p>{{"Home.p2" | translate}}</p>
      </div>
    </div>
  </div>
      <div class="row">
          <div class="col-md-4">
              <div class="single-pricing-table">
                  <div class="pricing-heading">
                      <h2>{{"Home.Basic" | translate}}</h2>
                  </div>
                  <div class="pricing-content">
                      <ul>
                          <li>{{"Home.100 MB Disk Space" | translate}}</li>
                          <li>{{"Home.2 Subdomains" | translate}}</li>
                          <li>{{"Home.5 Email Accounts" | translate}}</li>
                          <li>{{"Home.Webmail Support" | translate}}</li>
                      </ul>
                  </div>
                     <div class="pricing-amount">
                    <sup><span class="currency">$</span></sup>
                    <span class="price">
                        25
                    </span>
                    <span class="subscription">
                        /{{"Home.Annualy" | translate}}
                    </span>
                 </div>
                 <a class="pricing-btn blue-btn" [routerLink]="['/pricing']">{{"Home.PURCHASE" | translate}}</a>
              </div>
          </div>
          <div class="col-md-4">
              <div class="single-pricing-table">
                  <div class="pricing-heading">
                      <h2>{{"Home.Standard" | translate}}</h2>
                  </div>
                  <div class="pricing-content">
                      <ul>
                          <li>{{"Home.100 MB Disk Space" | translate}}</li>
                          <li>{{"Home.2 Subdomains" | translate}}</li>
                          <li>{{"Home.5 Email Accounts" | translate}}</li>
                          <li>{{"Home.Webmail Support" | translate}}</li>
                      </ul>
                  </div>
                     <div class="pricing-amount">
                    <sup><span class="currency">$</span></sup>
                    <span class="price">
                        50
                    </span>
                    <span class="subscription">
                        /{{"Home.Annualy" | translate}}
                    </span>
                 </div>
                 <a class="pricing-btn blue-btn" [routerLink]="['/pricing']">{{"Home.PURCHASE" | translate}}</a>
              </div>
          </div>
          <div class="col-md-4">
              <div class="single-pricing-table">
                  <div class="pricing-heading">
                      <h2>{{"Home.Premium" | translate}}</h2>
                  </div>
                  <div class="pricing-content">
                      <ul>
                          <li>{{"Home.100 MB Disk Space" | translate}}</li>
                          <li>{{"Home.2 Subdomains" | translate}}</li>
                          <li>{{"Home.5 Email Accounts" | translate}}</li>
                          <li>{{"Home.Webmail Support" | translate}}</li>
                      </ul>
                  </div>
                     <div class="pricing-amount">
                    <sup><span class="currency">$</span></sup>
                    <span class="price">
                        70
                    </span>
                    <span class="subscription">
                        /{{"Home.Annualy" | translate}}
                    </span>
                 </div>
                 <a class="pricing-btn blue-btn" [routerLink]="['/pricing']">{{"Home.PURCHASE" | translate}}</a>
              </div>
          </div>
      </div>
  </div>
</section>



<!--PRICING-TABLE-AREA  END-->

<!--PRICING-TABLE-AREA-->
<section id="Pricing" class="pricing-table-area pricing-page ">
<div class="container">
    <div class="row">
      <div class="col-md-12">
<div class="section-heading text-center">
    <h2>{{"Home.Select Your Plan" | translate}}</h2>
    <img src="assets/img/section/section-icon.png" alt="place your img">
    <p>{{"Home.p2" | translate}}</p>
</div>
      </div>
    </div>
    <div class="row">
          <div class="col-md-12">
             <nav class="pricing-tab">
                <span class="monthly_tab_title">
                  {{"Home.Monthly" | translate}}                 </span>
                  <span class="pricing-tab-switcher"></span>
                
                <span class="annual_tab_title">
                  {{"Home.Annual" | translate}}                  </span>
                  
             </nav>
          </div>
       </div>
       <div class="row">
        <div class="col-md-4">
            <div class="single-pricing-table">
                <div class="pricing-heading">
                    <h2>{{"Home.Basic" | translate}}</h2>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>{{"Home.100 MB Disk Space" | translate}}</li>
                        <li>{{"Home.2 Subdomains" | translate}}</li>
                        <li>{{"Home.5 Email Accounts" | translate}}</li>
                        <li>{{"Home.Webmail Support" | translate}}</li>
                    </ul>
                </div>
                   <div class="pricing-amount">
                  <sup><span class="currency">$</span></sup>
                  <span class="price">
                      25
                  </span>
                  <span class="subscription">
                      /{{"Home.Annualy" | translate}}
                  </span>
               </div>
               <a class="pricing-btn blue-btn" [routerLink]="['/pricing']">{{"Home.PURCHASE" | translate}}</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-pricing-table">
                <div class="pricing-heading">
                    <h2>{{"Home.Standard" | translate}}</h2>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>{{"Home.100 MB Disk Space" | translate}}</li>
                        <li>{{"Home.2 Subdomains" | translate}}</li>
                        <li>{{"Home.5 Email Accounts" | translate}}</li>
                        <li>{{"Home.Webmail Support" | translate}}</li>
                    </ul>
                </div>
                   <div class="pricing-amount">
                  <sup><span class="currency">$</span></sup>
                  <span class="price">
                      50
                  </span>
                  <span class="subscription">
                      /{{"Home.Annualy" | translate}}
                  </span>
               </div>
               <a class="pricing-btn blue-btn" [routerLink]="['/pricing']">{{"Home.PURCHASE" | translate}}</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-pricing-table">
                <div class="pricing-heading">
                    <h2>{{"Home.Premium" | translate}}</h2>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>{{"Home.100 MB Disk Space" | translate}}</li>
                        <li>{{"Home.2 Subdomains" | translate}}</li>
                        <li>{{"Home.5 Email Accounts" | translate}}</li>
                        <li>{{"Home.Webmail Support" | translate}}</li>
                    </ul>
                </div>
                   <div class="pricing-amount">
                  <sup><span class="currency">$</span></sup>
                  <span class="price">
                      70
                  </span>
                  <span class="subscription">
                      /{{"Home.Annualy" | translate}}
                  </span>
               </div>
               <a class="pricing-btn blue-btn" [routerLink]="['/pricing']">{{"Home.PURCHASE" | translate}}</a>
            </div>
        </div>
    </div>
</div>
</section>



<!--PRICING-TABLE-AREA  END-->

<!--DOWNLOAD-AREA-->
<section class="download-area">
  <div id="background-19" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-20" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-21" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-22" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-23" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-24" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-25" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-26" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-27" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-28" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-29" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-30" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-31" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-32" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-33" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-34" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-35" class="mouse-bg hidden-xs hidden-sm"></div>
  <div id="background-36" class="mouse-bg hidden-xs hidden-sm"></div>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="download-table">
              <div class="download-table-cell">
                  <h2>{{"Home.Bufet is Awesome !" | translate}} <br>{{"Home.It’s" | translate}} <span> {{"Home.Free" | translate}} </span> {{"Home.to Download for Everyone" | translate}}</h2>

                  <div class="button-group store-buttons">
                      <a href="#" class="btn-style-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                          <span class="ti-android"></span>
                          <p class="dsp-tc">{{"Home.available on" | translate}}
                              <br> <span>{{"Home.Google Store" | translate}}</span></p>
                      </a>
                      <a href="#" class=" btn-style-2 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
                          <span class="ti-apple"></span>
                          <p class="dsp-tc">{{"Home.available on" | translate}}
                              <br> <span>{{"Home.Apple Store" | translate}}</span></p>
                      </a>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
</section>

 <!--DOWNLOAD-AREA  END-->