<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                        <h2>Reviews</h2>
                        <p>Now we are fast growing mobile app and Business as a Service (saas) <br> service provider of the world. Check out little bit about us.</p>
                    </div>
                </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a href="index.html">Home</a></li>
              <li class="active">-  Review</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>
<!--TESTIMONIAL-AREA -->

<section class="testimonial-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
<div class="section-heading text-center">
    <h2>Some of our Reviews</h2>
    <img src="assets/img/section/section-icon.png" alt="place your img">
    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
</div>
      </div>
    </div>
        <div class="testi-review">
        <div class="row">
        <div class="col-md-6">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            </div>
        <div class="row">
        <div class="col-md-6">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            <div class="col-md-6 ">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            </div>
            <div class="row ">
            <div class="col-md-6 ">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>M S Newaz <br> <span>UI Designer at Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            <div class="col-md-6 ">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>Anika Mollik <br> <span>CEO Marveltheme</span></h4>
              </div>
                <p>“Lorem ipsum dolor sit amet, sectetur adip mayal tempor
      eiusmod tempor incubtconsectetur aliqua. Ultra enddim ad nim veniam, quis nostrud exercitation ullamco”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
        </div>
        <div class="faq-button">
        <a class="pricing-btn blue-btn about-btn" href="#">LOAD MORE</a>
        </div>
        </div>
        </div>

  </div>
</section>

<!--TESTIMONIAL-AREA  END-->

