<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                        <h2>{{"Home.Reviews"|translate}}</h2>
                        <p>{{"Home.p13"|translate}} <br> {{"Home.p14"|translate}}</p>
                    </div>
                </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a [routerLink]="['/home']">{{"Home.Home"|translate}}</a></li>
              <li class="active">-  {{"Home.Review"|translate}}</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>
<!--TESTIMONIAL-AREA -->

<section class="testimonial-area">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
  <div class="section-heading text-center">
              <h2>{{"Home.Some of our Reviews" | translate}}</h2>
                  <img src="assets/img/section/section-icon.png" alt="place your img">
                  <p>{{"Home.p2" | translate}}</p>
          </div>
      </div>
    </div>
        <div class="testi-review">
          <div class="row">
              <div class="col-md-6">
                  <div class="testi-single-item ">
                      <div class="item-inner">
                    <div class="testimonial-meta">
                          <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                      <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                    </div>
                      <p>“{{"Home.p2" | translate}}”</p>
            <div class="testimonial-rating">
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                          </div>
      
                  </div>
                  </div>
                  </div>
            <div class="col-md-6">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
              </div>
                <p>“{{"Home.p2" | translate}}”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            </div>
        <div class="row">
        <div class="col-md-6">
            <div class="testi-single-item ">
                <div class="item-inner">
              <div class="testimonial-meta">
                    <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
              </div>
                <p>“{{"Home.p2" | translate}}”</p>
      <div class="testimonial-rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                    </div>

            </div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="testi-single-item ">
                  <div class="item-inner">
                <div class="testimonial-meta">
                      <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                  <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                </div>
                  <p>“{{"Home.p2" | translate}}”</p>
        <div class="testimonial-rating">
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                              <span class="ti-star"></span>
                      </div>
  
              </div>
              </div>
              </div>
              </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="testi-single-item ">
                      <div class="item-inner">
                    <div class="testimonial-meta">
                          <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                      <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                    </div>
                      <p>“{{"Home.p2" | translate}}”</p>
            <div class="testimonial-rating">
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                          </div>
      
                  </div>
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="testi-single-item ">
                          <div class="item-inner">
                        <div class="testimonial-meta">
                              <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                          <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                        </div>
                          <p>“{{"Home.p2" | translate}}”</p>
                <div class="testimonial-rating">
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                              </div>
          
                      </div>
                      </div>
                      </div>
                      </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="testi-single-item ">
                      <div class="item-inner">
                    <div class="testimonial-meta">
                          <img src="assets/img/testimonial/testimonial-icon-1.png" alt="place your img">
                      <h4>{{"Home.M S Newaz" | translate}} <br> <span>{{"Home.UI Designer at Marveltheme" | translate}}</span></h4>
                    </div>
                      <p>“{{"Home.p2" | translate}}”</p>
            <div class="testimonial-rating">
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                                  <span class="ti-star"></span>
                          </div>
      
                  </div>
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="testi-single-item ">
                          <div class="item-inner">
                        <div class="testimonial-meta">
                              <img src="assets/img/testimonial/testimonial-icon-2.png" alt="place your img">
                          <h4>{{"Home.Anika Mollik" | translate}} <br> <span>{{"Home.CEO Marveltheme" | translate}}</span></h4>
                        </div>
                          <p>“{{"Home.p2" | translate}}”</p>
                <div class="testimonial-rating">
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                                      <span class="ti-star"></span>
                              </div>
          
                      </div>
                      </div>
                      </div>
                      </div>
        <div class="faq-button">
        <a class="pricing-btn blue-btn about-btn" href="#">{{"Home.LOAD MORE" | translate}}</a>
        </div>
        </div>
        
  </div>
</section>
 


<!--TESTIMONIAL-AREA  END-->

