<section class="blog-full-page-area register-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
            <span class="anchor" id="formRegister"></span>

            <!-- form card register -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">REGISTER</h3>
                </div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="inputName">Enter Username</label>
                            <input type="text" class="form-control" id="inp1" placeholder="Enter Username" required="">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3">Enter Email</label>
                            <input type="email" class="form-control" id="inp2" placeholder="Email Address" required="">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3">Enter Password</label>
                            <input type="password" class="form-control" id="inp3" placeholder="Password must 6 catecter long" required="">
                        </div>
                        <div class="form-group">
                            <div class="faq-button">
                            <button  type="submit" class="pricing-btn blue-btn about-btn" href="">Register</button >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /form card register -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
