<section class="blog-full-page-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-page-content-table">
            <div class="blog-table-cell">
              <h2>Blog Post</h2>
              <h4>Blog Post With Sidebar</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- blog AREA  -->

<section class="latest-blog-area wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ">
              <div class="row mb-50">
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-1.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-2.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row mb-50">
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-3.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-1.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-2.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="single-blog-box">
                          <div class="single-blog-image">
                              <a href="#"><img src="assets/img/blog/blog-3.jpg" alt="place your img"></a>
                          </div>
                          <div class="post-meta clearfix">
                              <div class="posted-by pull-left">
                                  <p><a href="#"><span class="ti-user"></span>Feb 01.2017</a></p>
                              </div>
                              <div class="post-date pull-right">
                                  <p><a href="#"><span class="ti-comment"></span>(23)</a></p>
                              </div>
                          </div>
                          <div class="blog-heading">
                              <a href="#"><h2>Beautiful Place for your Great Journey</h2></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="blog-right-search-button">
                  <div class="search-button">
                      <input type="text" placeholder="Enter Your Keyword">
                      <button><img src="assets/img/icons/search-icon.png" alt="search-icon"></button>
                  </div>
              </div>
              <div class="blog-categories-right">
                  <h2>Categories</h2>
                  <div class="categories-right-list">
                      <ul>
                          <li><a href="#">Adventures (12)</a></li>
                          <li><a href="#">Traveling (08)</a></li>
                          <li class="active"><a href="#">Lifestyle (10)</a></li>
                          <li><a href="#">Foods (05)</a></li>
                          <li><a href="#">Trendy Fashion (07)</a></li>
                          <li><a href="#">Popular (07)</a></li>
                      </ul>
                  </div>
              </div>
              <div class="blog-recent-post">
                  <h3>Recent Post</h3>
                  <div class="row">
                      <div class="col-md-5 col-sm-5 col-xs-5">
                          <div class="blog-recent-post-image-1">
                              <a href="#"><img src="assets/img/blog/recent-post-bg-1.jpg" alt="recent-post-bg"></a>
                          </div>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-7">
                          <div class="blog-recent-post-content">
                              <p>Feb 01, 2017</p>
                              <a href="#">
                                  <h2>Lorem Imsum Dummy Text Title Goes.</h2>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5 col-sm-5 col-xs-5">
                          <div class="blog-recent-post-image-1">
                              <a href="#"> <img src="assets/img/blog/recent-post-bg-2.jpg" alt="recent-post-bg"></a>
                          </div>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-7">
                          <div class="blog-recent-post-content">
                              <p>Feb 01, 2017</p>
                              <a href="#">
                                  <h2>Lorem Imsum Dummy Text Title Goes.</h2>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5 col-sm-5 col-xs-5">
                          <div class="blog-recent-post-image-1">
                              <a href="#"> <img src="assets/img/blog/recent-post-bg-3.jpg" alt="recent-post-bg"></a>
                          </div>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-7">
                          <div class="blog-recent-post-content">
                              <p>Feb 01, 2017</p>
                              <a href="#">
                                  <h2>Lorem Imsum Dummy Text Title Goes.</h2>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="blog-tag-cloud">
                  <h2>Tags Cloud</h2>
                  <div class="blog-tag-cloud-list">
                      <ul>
                          <li><a href="#">Travels</a></li>
                          <li class="active"><a href="#">Adverture</a></li>
                          <li><a href="#">Foods</a></li>
                          <li><a href="#">Lifestyle</a></li>
                          <li><a href="#">Traveling</a></li>
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Trends</a></li>
                          <li><a href="#">Fashion</a></li>
                          <li><a href="#">Music</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
      <div class="other-page-link">
          <ul class="pagination">
              <li><a href="#">newer post</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">older post</a></li>
          </ul>
      </div>
</section>

   <!-- subscription area start -->
  <section id="subscribe-area">
      <div class="container">
          <div class="subscribe-wrapper">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="subscribe-text">
                          <h2>SubscribE Now</h2>
                      </div>
                  </div>
                  <div class="col-sm-8">
                      <div class="subscribe-box">
                          <form class="subscription-form" method="POST" action="php/subscribe.php">
                              <input type="email" class="form-control" id="subscribe-input" name="subscribe-input" placeholder="Enter Your Email Address">
                              <button class="email-submit-btn" type="submit">go</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
    <!-- CONTACT SECTION -->