<section class="blog-full-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-page-content-table">
                    <div class="blog-table-cell">
                        <h2> Bufet FAQ's</h2>
                        <p>Now we are fast growing mobile app and Business as a Service (saas) <br> service provider of the world. Check out little bit about us.</p>
                    </div>
                </div>
          <div class="back-links">
            <ul class="list-inline">
              <li><a href="index.html">Home</a></li>
              <li class="active">-  FAQ</li>
            </ul>
          </div>
        <img src="assets/img/screen/about-hero1.png" alt="image" class="about-hero">
            </div>
        </div>
    </div>
</section>
<section id="faq-area" class="faq-area homepage-3 homepage-4 homepage-5">
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="section-heading text-center mb-50px">
              <h2>Frequently asked questions</h2>
              <img src="assets/img/section/section-icon.png" alt="place your img">
              <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incidit labore Lorem ipsum amet madolor sit amet.</p>
          </div>
        </div>
    </div>    <!--TAB AREA-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="tabs animated-slide-2  ">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                            <li role="presentation"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>
                            <li role="presentation"><a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">Payment</a></li>
                            <li role="presentation"><a href="#security" aria-controls="security" role="tab" data-toggle="tab">Security</a></li>
                        </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active fade in" id="general">
                <article class="beefup example-opensingle is-open">
                    <h4 class="beefup__head">
                        1. Sedeiusmod tempor inccsetetur aliquatraiy?
                        <span class="ti-angle-down"></span>
                    </h4>

                    <div class="beefup__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                        </p>
                    </div>
                </article>
                <article class="beefup example-opensingle ">
        <h4 class="beefup__head ">
           2. Lorem ipsum dolor amet, consect adipisicing elit?
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle">
        <h4 class="beefup__head">
          3. Tempor inccsetetur aliquatraiy?
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle">
        <h4 class="beefup__head">
            4. Consectetur adipisicing elit, sed do eiusmod tempor?
            <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>

                        </div>
                        <div  role="tabpanel" class="tab-pane fade" id="account">
                <article class="beefup example-opensingle">
                    <h4 class="beefup__head">
                        1. Sedeiusmod tempor inccsetetur aliquatraiy?
                        <span class="ti-angle-down"></span>
                    </h4>

                    <div class="beefup__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                        </p>
                    </div>
                </article>
                <article class="beefup example-opensingle is-open">
        <h4 class="beefup__head ">
           2. Lorem ipsum dolor amet, consect adipisicing elit?
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle">
        <h4 class="beefup__head">
          3. Tempor inccsetetur aliquatraiy?
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle">
        <h4 class="beefup__head">
            4. Consectetur adipisicing elit, sed do eiusmod tempor?
            <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
                        </div>
                        <div  role="tabpanel" class="tab-pane fade" id="payment">
                <article class="beefup example-opensingle">
                    <h4 class="beefup__head">
                        1. Sedeiusmod tempor inccsetetur aliquatraiy?
                        <span class="ti-angle-down"></span>
                    </h4>

                    <div class="beefup__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                        </p>
                    </div>
                </article>
                <article class="beefup example-opensingle">
        <h4 class="beefup__head ">
           2. Lorem ipsum dolor amet, consect adipisicing elit?
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle is-open">
        <h4 class="beefup__head">
          3. Tempor inccsetetur aliquatraiy?
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle">
        <h4 class="beefup__head">
            4. Consectetur adipisicing elit, sed do eiusmod tempor?
            <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
                        </div>
                        <div  role="tabpanel" class="tab-pane fade" id="security">
                <article class="beefup example-opensingle">
                    <h4 class="beefup__head">
                        1. Sedeiusmod tempor inccsetetur aliquatraiy?
                        <span class="ti-angle-down"></span>
                    </h4>

                    <div class="beefup__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
                        </p>
                    </div>
                </article>
                <article class="beefup example-opensingle">
        <h4 class="beefup__head ">
           2. Lorem ipsum dolor amet, consect adipisicing elit?
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle">
        <h4 class="beefup__head">
          3. Tempor inccsetetur aliquatraiy?
           <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
    <article class="beefup example-opensingle is-open">
        <h4 class="beefup__head">
            4. Consectetur adipisicing elit, sed do eiusmod tempor?
            <span class="ti-angle-down"></span>
        </h4>

        <div class="beefup__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore .
            </p>
        </div>
    </article>
                        </div>
                    </div>
                </div>
            </div>
         </div>

</div>

</section>

 <!-- subscription area start -->
<section id="subscribe-area">
    <div class="container">
        <div class="subscribe-wrapper">
            <div class="row">
                <div class="col-sm-4">
                    <div class="subscribe-text">
                        <h2>SubscribE Now</h2>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="subscribe-box">
                        <form class="subscription-form" method="POST" action="php/subscribe.php">
                            <input type="email" class="form-control" id="subscribe-input" name="subscribe-input" placeholder="Enter Your Email Address">
                            <button class="email-submit-btn" type="submit">go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- CONTACT SECTION -->
<section class="footer-bg">
<div id="contact-section" class="gray-bg">
    <div class="container">
        <div class="contact-wrapper">
        <div class="row">
                <div class="col-sm-5">
                    <div class="contact-form-area">
                        <h2 class="text-capitalize">Contact us</h2>
                        <form id="digita-contact-form" action="php/contact-mail.php" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name*">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="Email" name="email" placeholder="Email Address*">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="Website" name="website" placeholder="Your Website">
                            </div>
                            <div class="form-group">
                                <textarea id="Message" class="form-control" rows="3" name="message" placeholder="Write Message*"></textarea>
                            </div>
                            <button type="submit" class="btn btn-blue"><img src="assets/img/icons/send-icon.png" alt="place your img"></button>
                            <p class="contact-send-message"></p>
                        </form>
                    </div>
                </div>
            <div class="col-sm-7">
                <div class="google-map">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- /CONTACT SECTION -->